.signin-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.left-container1 {
  flex: 1;
  padding: 20px;
  margin-left: 100px;
  border-radius: 10px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #b5d2e2;
}

.right-container1 {
  flex: 1;
  margin-right: 100px;
  display: flex;
  align-items: center;
  right: 100px;
  height: 70%;
  width: 70%;
}

#image {
  padding-right: 50px;
  height: 96%;
  width: 96%;
}

.left-container1 h2 {
  margin-bottom: 20px;
}

.toggle-bar1 {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.toggle-bar1 button {
  padding: 10px 20px;
  margin: 0 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.toggle-bar1 button.active {
  background-color: #007bff;
  color: #fff;
}

.toggle-bar1 button:hover {
  background-color: #0056b3;
}

.input-field {
  width: 80%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin-bottom: 20px;
}

.checkbox-container {
  display: flex;
  align-items: center;
}

.checkbox-container label {
  margin-left: 5px;
}

.button-container1 {
  height: 100%;
  width: 80%; 
} 

.btn-primary3 {
  width: 50%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 105px;
}

.btn-primary3:hover {
  background-color: #0056b3;
}

.btn-secondary3 {
  width: 50%;
  padding: 10px;
  background-color: white;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-secondary3:hover {
  background-color: #0056b3;
}

.link {
  margin-top: 10px;
  text-decoration: none;
  color: #007bff;
}
