.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0; /* Change background color */
}

.form-container {
  width: 350px; /* Increased width for better spacing */
  padding: 30px; /* Increased padding for better spacing */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add shadow for depth */
  background-color: #ffffff;
}

.form-container h2 {
  margin-bottom: 30px; /* Increased margin for better separation */
  text-align: center; /* Center align heading */
}

.form-container form input {
  width: 92%;
  margin-bottom: 20px; /* Increased margin for better spacing */
  padding: 15px; /* Increased padding for better input size */
  border: 1px solid #ccc;
  border-radius: 8px; /* Slightly rounded corners */
  font-size: 16px; /* Increased font size for better readability */
}

.form-container form button {
  width: 102%;
  padding: 15px; /* Increased padding for better button size */
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 8px; /* Slightly rounded corners */
  cursor: pointer;
  font-size: 16px; /* Increased font size for better readability */
}

.form-container form button:hover {
  background-color: #0056b3;
}

.switch-container {
  display: flex;
  justify-content: space-between; /* Align items side by side */
}

.switch-container h2 {
  cursor: pointer;
  margin: 0 40px 30px 40px; /* Adjusted margin for both options */
}

.switch-container h2.inactive {
  color: #888; /* Change color for inactive option */
}
